@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-container {
  margin: 2rem 4rem;
  width: 90%;
}

.navbar {
  background-color: #1100f5af;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  margin-left: 4.7rem;
  font-size: x-large;
}

.navlink {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.signout-btn {
  width: fit-content;
  background-color: #88effd;
  color: #02060a;
  border: solid 4px transparent;
  border-radius: 3px;
}

.sidebar-main {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d1ff071;
  width: 18rem;
  height: 200vh;
  border-right: #e1daec19 2px solid;
  padding: 1rem 0rem;
}

.sidebar-main * {
  margin: 0.5rem 3rem;
  color: #02060a;
  font-size: 1.5rem;
}

.sidebar-main > a:hover {
  color: #1100f5af;
}

.header-div {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.dob {
  display: flex;
  flex-direction: column;
  width: min-content;
}

.dob-container {
  display: flex;
  flex-direction: column;
}

.select-recipient-dialog::backdrop {
  background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
  opacity: 0.75;
}

.conversation {
  border: solid 3px #267ccb;
  min-height: 75vh;
  min-width: 75vh;
}

.message-info {
  border: solid 3px #267ccb;
}

.message-info-selected {
  border: solid 3px #267ccb;
  cursor: pointer;
  box-shadow: 0 0 5px 5px #48abe0;
}

.message-box {
  width: 100%;
  border: 3px solid #267ccb;
  display: inline-block;
}

.textbox-container {
  display: flex;
  justify-content: flex-end;
}

.textbox-container input:focus,
.textbox-container input:active {
  outline: none;
}

.textbox-container textarea {
  width: 90%;
  border: none;
  word-break: break-all;
  resize: none;
  background-color: transparent;
  outline: none;
}

.textbox-container button {
  float: right;
}

.message-textbox {
  min-width: 75vh;
  min-height: 10vh;
  background-color: transparent;
  border: 2px solid #267ccb;
  /* justify-self: start; */
}

.send-btn {
  margin-bottom: 1vh;
  border: none;
  background-color: transparent;
  color: #267ccb;
  font-weight: 700;
  justify-self: flex-end;
}

.patient-card {
  border-top: solid 2px #e1daecaf;
  border-bottom: solid 2px #e1daecaf;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  width: 100%;
}

.patient-name {
  font-weight: bold;
  color: #267ccb;
  text-decoration: underline;
}
